/* .MyChatBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
  
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
        display: flex;
        width: 31%;
      }
  }
  
  @media (min-width: 768px) {
    .MyChatBox {
      display: flex;
      width: 31%;
    }
  }

.MyChatBox2 {
    padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 28px;
  font-family: "Work sans";
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.MyChatBoxButton {
    display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;

  @media (min-width: 768px) {
    font-size: 10px;
  }

  @media (min-width: 1024px) {
    font-size: 17px;
  }
}

.MyChatBox3 {
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow-y: hidden;
  }
 */

 #chatname{
  font-weight: 600;
 }

 #chatText {
  color: white;
 }
 