.SingleChatBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3px;
    background-image: url(../animations/chatbg3.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

