.UserListBox {
    cursor: pointer;
  background-color: #E8E8E8;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  padding: 3px;
  margin-bottom: 2px;
  border-radius: 4px;

  &:hover {
    background-color: #38B2AC;
    color: white;
  }
}

.Avatarcss {
    margin-right: 2px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.Badgecss {
    padding: 2px;
    border-radius: 4px;
    margin: 1px;
    cursor: pointer;
  
    /* Variant */
    background-color: #8284FA;
    color: white;
  
    /* Color scheme */
    color: #8284FA;
  
    /* Font size */
    font-size: 12px;
  }
  